html {
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    nav {
        padding: 1.5rem 1rem;
    }
    .hero {
        margin-top: 5rem;
        flex-direction: column;
        gap: 0;
    }
    .hero img {
        width: 16rem;
        padding-bottom: 2rem;
    }

    .bio {
        margin-top: -7rem;
        width: 12rem;
    }

    .skills {
        width: 12rem;
    }
    
    .icon {
        width: 2rem;
        height: 2rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 12rem;
    }
}

@media screen and (max-width: 420px) {
    .hero img {
        width: 8rem; 
    }

    .bio {
        width: 8rem;
    }

    .project-container {
        width: 8rem;
    }
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color:#fcfcfc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: #252954;
    font-family: Rosario;
    font-size: 2.5rem;
}

nav a {
    color:#f1b104;
    transition: 0.2s;
}

nav a:hover {
    color: #d6eaf2;
    border-bottom: 2px solid #d6eaf2;
}

a:link {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-family: Rosario;
    font-size: 1.5rem;  
}

.burger-menu {
    color: #252954;
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding-bottom: 4rem;
}

.hero img {
    width: 30rem;
}

.bio {
    width: 36rem;
}

h2 {
    font-family: Rosario;
    color: #252954;
    font-size: 2rem;
}

#about {
    text-align: center;
    color: #252954;
    padding-top: 2.5rem;
}

#about p {
    font-family: "Shippori Mincho";
    font-size: 1.25rem;
    padding-left: 40px;
    padding-right: 40px;
}

#skills {
    text-align: center;
    color: #252954;
    padding: 4rem 0;
    background-color: #fcfcfc;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 2rem;
}

.icon {
    width: 5rem;
    height: 5rem;
}

#projects {
    text-align: center;
    color: #252954;
    padding: 4rem 0;
    margin-bottom: 1rem;
}

.projects {
    padding: 4rem 0; 
    margin-top: 2rem;
    font-family: "Shippori Mincho";
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container {
    text-align: center;
    width: 24rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.5rem;
}

.project-title {
    margin-bottom: 0.5rem;
}

.project-details {
    margin-bottom: 0.5rem;
}

#contact {
    text-align: center;
    color: #252954;
    padding: 4rem 0;
    background-color: #fcfcfc;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 2rem;
}

.socials img {
    width: 10rem;
    height: 10rem;
}

footer {
    background-color:#fcfcfc;
    font-family: "Shippori Mincho";
    padding: 1.25rem;
    text-align: center;
    margin: 0;
}